@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
body {
  font-family: "Lato", sans-serif;
}
section .graph {
  position: absolute;
  width: 1350px;
  height: 494px;
  left: 0px;
  top: 1094px;
}
.stock {
  position: absolute;
  width: 1350px;
  height: 494px;
  left: 0px;
  top: 1094px;
  background: url("../img/stock-exchange-3087396_1920.jpeg") no-repeat;
  background-size: cover;
  opacity: 0.2;
}

.stock-color {
  position: absolute;
  width: 1350px;
  height: 494px;
  left: 0px;
  top: 1094px;
  background: #0a8a41;
}

.Nav-title h4 {
  position: absolute;
  width: 176px;
  height: 20px;
  left: 595px;
  top: 1192px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.linegraph-1 {
  position: absolute;
  height: 185px;
  top: 1288px;
}

.tools {
  position: absolute;
  width: 130px;
  height: 24px;
  left: 119px;
  top: 1676px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  /* Gray 2 */

  color: #4f4f4f;
}

.info {
  position: absolute;
  width: 552px;
  height: 16px;
  left: 119px;
  top: 1716px;

  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #828282;
}
.inner {
  position: absolute;
  width: 1200px;
  height: 160px;
  left: 119px;
  top: 1800px;
}

.card.cardbg-white {
  position: absolute;
  width: 270px;
  height: 114px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.card.cardbg-blue {
  position: absolute;
  width: 270px;
  height: 114px;
  left: 0px;
  top: 0px;

  background: #1f74bd;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.title {
  position: absolute;
  top: 84px;
  left: 24px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  /* Gray 2 */

  color: #4f4f4f;
}
