@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

html,body{
    font-family: 'Rubik', sans-serif;
    line-height: 1.4; 
  }
  h1,h2,h3,h4,h5,h6{
    margin: 0;
  }

  a{
    text-decoration: none;
    font-size: 14px;
    color: var(--gray-30);
  }
  

  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
    
  
    color: inherit;
    &:visited {
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      outline: 0;
  
      // color: inherit;
    }
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    &:focus {
      text-decoration: none;
      outline: 0;
      color: inherit;
    }
  }

li {
  list-style-type: none;
  color: var(--gray-30);
}
