.grid-column {
  display: grid;
  grid-template-columns: auto 60%;
  grid-gap: 150px;
}

.heading {
  margin-top: 116px;
  color: var(--gray-20);
  font-size: 32px;
  &-h3 {
    color: var(--gray-30);
    font-size: 20px;
  }
  &-text {
    color: var(--gray-30);
    font-size: 14px;
  }
}

.learn-more {
  padding: 12px 20px 12px 20px;
  background-color: #0d542c;
  color: white;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 111px;
  flex-direction: row;
}

.home {
  background-color: #1f74bd;
  border-radius: 0px 4px 4px 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 285px;
  &-img{
    margin: 8px 5px 5px 8px ; 
}
  
}

.setting {
    background-color: #1f74bd;
    border-radius: 0px 4px 4px 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 325px;
    &-img{
        margin: 8px 5px 5px 8px ; 
    }
    
  }

.graph {
    background-color: #1f74bd;
    border-radius: 0px 4px 4px 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 365px;
    &-img{
        margin: 8px 5px 5px 8px ; 
    }
    
  }

  .singlesetting {
    background-color: #1f74bd;
    border-radius: 0px 4px 4px 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 405px;
    &-img{
        margin: 8px 5px 5px 8px ; 
    }
    
  }

  .book {
    background-color: #1f74bd;
    border-radius: 0px 4px 4px 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 445px;
    &-img{
        margin: 8px 5px 5px 8px ; 
    }
    
  }

  .contact {
    background-color: #1f74bd;
    border-radius: 0px 4px 4px 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 485px;
    &-img{
        margin: 8px 5px 5px 8px ; 
    }
      
    
  }
