.header {
display: flex;
justify-content: center;
}

.nav {
  
  display: flex;
  justify-content: space-between;
  

  &-list {
    list-style-type: none;
  justify-content: center;

    display: flex;
    align-items: flex-start;
    overflow-x: auto;
  }
  &-item {
    display: inline-block;
    margin-left: 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
}

.login{
  margin-right: 160px;
    
  
}